* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.landingPage {
    height: 100vh;
    width: 100%;
    background: url('')center/cover no-repeat;
    background: purple;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: purple;
    z-index: 10;
}

.featuresSection {
    height: 100vh;
    width: 100%;
}

.dataSection {
    height: 100vh;
    width: 100%;
}

.navigation img {
    height: 75px;
    width: 75px;
    border-radius: 50%;
    margin-left: 15px;
    cursor: pointer;
}

.navigation ul {
    display: flex;
}

.navigation li {
    list-style: none;
    margin: 0 15px;
    font-size: 1.3rem;
    letter-spacing: 1.5px;
    color: #fff;
    cursor: pointer;
}

.landingInfo {
    display: flex;
    justify-content: space-between;
    color: rgb(223, 223, 223);
}

.landingImg {
    height: 600px;
    width: 600px;
    margin-right: 80px;
    margin-top: 70px;
}


.aboutLanding {
    height: 800px;
    width: 550px;
    margin-top: 150px;
    margin-left: 80px;
}

.aboutLanding h1 {
    font-size: 3rem;
    letter-spacing: 1.5px;
}

.aboutLanding p {
    font-size: 1.25rem;
    letter-spacing: 1.5px;
    line-height: 1.7;
}

.aboutLanding button {
    font-size: 1.2rem;
    letter-spacing: 2.2px;
    padding: 20px 50px;
    margin-top: 50px;
    border-radius: 50px;
    background: rgb(80, 74, 185);
    color: #fff;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

.aboutLanding button:hover {
    background: rgb(96, 67, 163);
}

.featuresSection {
    height: 120vh;
}

.featuresHeading {
    text-align: center;
    margin-top: 20px;
    font-size: 3rem;
}
.featuresPara {
    text-align: center;
    margin: 40px 0;
    font-size: 1.2rem;
    letter-spacing: 1.5px;
}

.featureSquares {
    height: 100vh;
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr );
    grid-gap: 20px;
}

.mainPic {
    background: url('./images/featuresMainImg.jpg')center/cover;
    grid-column: 1 / 3;
    grid-row: 1 / 3;
}

.square1, .square2, .square3, .square4 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}

.square1:hover, .square2:hover, .square3:hover, .square4:hover {
    opacity: 0.82;
    transition: 0.3s;
}

.square1 h2, .square2 h2, .square3 h2, .square4 h2 {
    font-size: 2rem;
    font-weight: 100;
}

.square1 img, .square2 img, .square3 img, .square4 img {
    height: 50px;
    width: 50px;
    margin-bottom: 20px;
}

.square1 {
    grid-column: 3/4;
    grid-row: 1/2;
    background: rgb(41, 183, 221);
}

.square2 {
    grid-column: 4/5;
    grid-row: 1/2;
    background: rgb(139, 114, 238);
}
.square3 {
    grid-column: 3/4;
    grid-row: 2/3;
    background: rgb(93, 59, 231);
}

.square4 {
    grid-column: 4 / 5;
    grid-row: 2/3;
    background: rgb(189, 114, 239);
}

.dataSection {
    background: rgb(55, 5, 121);
    display: flex;
    padding-top: 80px;
    padding-left: 80px;
    padding-right: 100px;
}

.dataSection img {
    height: 500px;
    width: 800px;
    background: rgb(69, 7, 150);
    padding: 30px;
}

.dataHeading {
    background: rgb(55, 5, 121);
    height: 50px;
    padding-top: 80px;
    font-size: 4rem;
    letter-spacing: 2px;
    padding-left: 75px;
    color: #fff;
    
}

.vizInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 80px;
    width: 455px;
    color: rgb(218, 218, 218);
    padding-bottom: 100px;
}

.paraDiv {
    margin-bottom: 60px;
}

.paraDiv h2 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.paraDiv p {
    font-size: 1.3rem;
    line-height: 1.4;
    letter-spacing: 1.5px;
    margin-bottom: 30px;
    margin-left: 55px;
}

.dataSection h2 {
    margin-top: 80px;
}

.dataSection h3 {
    border-bottom: 2px solid#fff;
    width: 14%;
    font-weight: 100;
    letter-spacing: 2px;
    cursor: pointer;
    margin-left: 55px;
}